<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Save JSON Example</title>
    <style>
      body {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Word Persistence</h1>
    <p>This could be used, for example, to build a dictionary for sentiment analysis.</p>
    <h2>Add word</h2>
    <p>
        word: <input value="word" id="word"></input></br>
        score: <input value="0" id="score"></input>
    </p>
    <p>
        <button onclick = "submit()">submit</button>
        <script>
        function submit(){
            console.log("we submitting");
            var word = document.getElementById("word").value;
            var value = document.getElementById("score").value;
            window.location.assign("/add/"+ word + "/" + value);
        }
        </script>
    </p>
    <a href="all/">View the current dictionary.</a>
  </body>
</html>
